@import 'fonts.css';
body {
  margin: 0;
}
.appContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.counterBorderBlock {
  margin: 3% 0 0 5%;
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid #6c757d;
  border-radius: 5px;
}
.numberCounterBlock {
  padding: 14% 0;
  display: flex;
  justify-content: center;
  background-color: white;
  color: #6c757d;
  font-family: 'FiraSans-Regular';
  font-size: 7vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-feature-settings: "tnum";
}
.horizontalOptionBlock {
  display: flex;
  justify-content: center;
}
.plusOption,
.refreshOption,
.minusOption {
  padding: 7% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: none;
  outline: none;
  transition: 0.2s;
}
.plusOption img,
.minusOption img {
  width: 25%;
}
.refreshOption img {
  width: 55%;
}
.plusOption {
  background-color: #28a745;
}
.plusOption:hover {
  background-color: #208f3a;
}
.refreshOption {
  background-color: #ffc72e;
}
.refreshOption:hover {
  background-color: #dba80d;
}
.minusOption {
  background-color: #dc3545;
}
.minusOption:hover {
  background-color: #c02938;
}
