@font-face {
  font-family: 'Mulish-Regular';
  src: url("../fonts/Mulish-Regular.ttf");
}

@font-face {
  font-family: 'Mulish-Light';
  src: url("../fonts/Mulish-Light.ttf");
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url("../fonts/Mulish-Bold.ttf");
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url("../fonts/FiraSans-Regular.ttf");
}

@font-face {
  font-family: 'K2D-Medium';
  src: url("../fonts/K2D-Medium.ttf");
}

@font-face {
  font-family: 'K2D-Regular';
  src: url("../fonts/K2D-Regular.ttf");
}

@font-face {
  font-family: 'Kanalisirung';
  src: url("../fonts/Kanalisirung.otf");
}

@font-face {
  font-family: 'Questrial-Regular';
  src: url("../fonts/Questrial-Regular.ttf");
}

@font-face {
  font-family: 'Maitree-Regular';
  src: url("../fonts/Maitree-Regular.ttf");
}

@font-face {
  font-family: 'Maitree-Bold';
  src: url("../fonts/Maitree-Bold.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.ttf");
}
