.homePage {
  position: relative;
  height: 100%;
}
.textArea {
  padding: 15% 0 24.2% 21%;
}
.helloMessage {
  width: 13.7%;
}
.lightAndBoldText {
  margin-left: 0.5%;
  height: 2.9vw;
}
.lightText {
  font-family: 'Maitree-Regular';
  font-size: 2vw;
}
.boldText {
  font-family: 'Maitree-Bold';
  font-size: 2vw;
}
.phrase {
  margin-left: 0.5%;
  font-family: 'Lato-Light';
  font-size: 1.5vw;
}
.vector1 {
  position: absolute;
  bottom: 0;
  width: 27%;
}
.vector2 {
  position: absolute;
  top: -9%;
  left: 0;
  width: 20.6%;
}
.girlImg {
  position: absolute;
  top: 3vw;
  right: 3%;
  width: 42.5%;
}
