.notFoundPage {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notFoundBoldText {
  font-family: 'Maitree-Bold';
  font-size: 4vw;
}
.notFoundLightText {
  font-family: 'Maitree-Regular';
  font-size: 2vw;
}
.notFoundHome {
  font-family: 'Maitree-Regular';
  font-size: 1vw;
}
.seoImg {
  margin: 2% 0;
  width: 19.4%;
}
.greenNumbers {
  font-family: 'Maitree-Bold';
  font-size: 1.3vw;
  color: #5CC867;
}
